{% extends "base.html" %}

{% block content %}

<h1>➕ Add Note</h1>

<form method="POST" class="form">

    <input name="title" placeholder="Title" required>
    
    <textarea name="content" placeholder="Write your note..." rows="6"></textarea>

    <input type="password" name="password" placeholder="Password (optional)">

    <br><br>

    <button class="btn save dark-save" type="submit">
        💾 Save Note
    </button>

</form>

<br>

<a href="/" class="btn secondary">← Back</a>

{% endblock %}